// colors
$black: #000000;
$black-20: rgba(0, 0, 0, 0.2);

$blue-light: #3E9CDC;
$blue-medium: #286690;
$blue-primary: #42A9ED;
$blue-secondary: #43ABF0;

$gray-cool: #6F6D7B;
$gray-dark-90: rgba(16, 16, 29, 0.9);
$gray-dark-100: #272733;
$gray-deep: #231F20;
$gray-light-85: #C3C3C3;
$gray-light-100: #C4C4C4;
$gray-muted: #3D4050;
$gray-soft: #BBBBBB;

$green-dark: #2A2B30;

$white: #FFFFFF;
$white-70: rgba(255, 255, 255, 0.7);
$white-85: rgba(255, 255, 255, 0.85);

// fonts
$font-lato: 'Lato', sans-serif;
$font-raleway: 'Raleway', sans-serif;

$weight-regular: 400;
$weight-semibold: 600;
$weight-bold: 700;
$weight-extrabold: 800;

$font-13: 13px;
$font-15: 15px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-28: 28px;
$font-32: 32px;
$font-36: 36px;
$font-48: 48px;

$border-radius: 3px;